#custom-input {
    /*opacity: 0*/
    /*-webkit-appearance: slider-vertical;*/
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
  .knob {
    width: 100%;
    padding-bottom: 100%;
    border-radius: 50%;
    background: #9e5e5e;
    position: relative;
  }
  
  .knob:after {
    content: "";
    width: 2px;
    height: 17px;
    background: #fff;
    position: absolute;
    top: 3px;
    left: 50%;
    margin-left: -1px;
  }
  